<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heroes Discount</title>
    <%- include partials/_mobile %>
<%- include partials/_bootStrap %>
<%- include partials/_SEO.ejs %>
  </head>
  <body>
     <%- include partials/_menu %>
    <div class="site-container">

      <div class="child-container">
        <h1 class="page-heading">HEROES DISCOUNT</h1>

<span class="power-point">We Salute You!</span>
<img src="./partials/pictures/hd.jpg" alt="hero">
<p class="literature">
XStream Sport Aviation is proud to extend our Heroes discount to military and first responders. It's our small way of saying thank you for your service.
</p>
<span class="message">Contact Us for details......</span>



      </div>
      <div class="footer-container">
        <%- include partials/_footer %>
      </div>
    </div>

  </body>
</html>
