<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Intro To Flight</title>
    <%- include partials/_mobile %>
<%- include partials/_bootStrap %>
<%- include partials/_SEO.ejs %>
  </head>
  <body>
<%- include partials/_menu %>
    <div class=site-container>

  <div class="child-container">


      <h1 class="page-heading">Intro To Flight</h1>
      <h1 class="power-point">
    Your First Step Towards Becoming a Pilot | No experience necessary
 </h1>
 <p class="literature">
So you’ve decided you’d like to get a Pilot License or just try out a flight to see if you like it, but what is the next step?  An Introductory Flight Lesson, of course!  The “Intro Flight” begins with  ground school, followed by a in-flight instruction.

Your Certified Flight Instructor will begin your lesson by explaining the basics of aircraft design, the fundamentals of flight, aircraft safety, and pre-flight inspection.

After the ground portion of your flight lesson is complete, student and instructor will board the aircraft and take to the sky.  You’re allowed to do as much of the flying as you’d like, beginning with taxiing, takeoff, cruise, maneuvers, and even landing!

Soaring high above Wasaga Beach and Georgain bay area is a life changing experience, especially when you’re at the controls of a plane!  Don’t worry, all of our training aircraft have dual controls, which means your highly trained, experienced flight Instructor is with you every step of the way!

An added bonus: the flight time during the Introductory Flight can be logged towards a  Pilot license!

An introductrory Flight Lesson is the perfect way for you - or a loved one - to begin your journey towards becoming a pilot!
</p>
</div>
<div class="child-container">
<ul><span class="list-heading">
Introductory Flight Lesson
</span>






<li class="listed">
  <form class="" action="/pay" method="post">
           <div class="payPoint"><br><br><br>
<strong>1/2 Hour </strong><span class="number">$89</span><input class="ghost" type="number" readonly name="option" value="89.00"/><span class="message">quantity</span><input type="number"  name="option2" value="1">
<button type="submit">place order</button><br><br><br>
</div>
</form>

</li>
<li class="listed">
  <form class="" action="/pay" method="post">
           <div class="payPoint"><br><br><br>
<strong>1 Hour</strong><span class="number">$169</span><input class="ghost" name="option" readonly value="169.00"/><span class="message">quantity</span><input type="number"  name="option2" value="1">
  <button type="submit">place order</button><br><br><br>

  </form>
</li>
<li>
<a class="message" href="packages">Click here for other intro Specials</a>
</li>
</div>
</div>
<div class="footer-container">
  <%- include partials/_footer %>
</div>
</div>

  </body>
</html>
