<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success and Achievements</title>
    <%- include partials/_mobile %>
<%- include partials/_bootStrap %>
<%- include partials/_SEO.ejs %>
  </head>
  <body>
    <%- include partials/_menu %>
    <div class="site-container">

<div class="child-container">

  <h1 class="page-heading">Success and Achievements</h1>

<ul class="vertGallery" style="flex:1; align-items:center; text-align:center">
  <img style="flex:1;max-width:800px"  src="./partials/pictures/sa-aircraft.jpg" alt="aircraft">
<li class="message">
  Congratulations!  Kirk M.
First Solo Flight!
December 12, 2018
Midland / Huronia Airport
</li>
<iframe width="80%" height="231" style="margin:20px" src="https://www.youtube.com/embed/QB4hMdNuCQM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<img style="flex:1;max-width:800px"  src="./partials/pictures/orang-plane.jpg" alt="orange-plane">
<li class="message">
Congratulations!  Marvin K.
First Solo Flight!
November 04, 2018
Edenvale Aerodrome
</li>
<img style="flex:1;max-width:800px" src="./partials/pictures/black-hoodie.jpg" alt="plane-student">
<li class="message">
Congratulations!  Brian R.
First Solo Flight!
May 04, 2017
Midland / Huronia Airport
</li>
<iframe width="80%" height="234" style="margin:20px" src="https://www.youtube.com/embed/nXcaYFxmUGo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<img style="flex:1;max-width:800px" src="./partials/pictures/winter-plane.jpg" alt="plane-flight-training">
<li class="message">
Congratulations!  Randy L.
First Solo Flight!
February 20, 2017
Edenvale Aerodrome
</li>
<img style="flex:1;max-width:200px; padding:15px;margin:15px"  src="./partials/pictures/congratulations-success.gif" alt="aircraft">

<p class="literature">
For privacy reasons, Only students that agree to web posting presented on this page.  Not reflective of actual number of training success's
</p>
</ul>

</div>
<div style="flex:1">
  <%- include partials/_footer %>
</div>
    </div>

  </body>
</html>
